/* ------------------------------------------------------
   GLOBAL RESETS & BASE
------------------------------------------------------ */
:root {
  --white: #ffffff;
  --yellow: #ffc928;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: var(--white);
  line-height: 1.55;
  background-color: var(--black);
  overflow-x: hidden;
}

header video {
  max-width: 100vw;
  max-height: 85vh;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(.5rem, 5rem, 5rem);
  overflow-wrap: anywhere;
}

/* SECTIONS */
.section {
  text-align: center;
  min-height: 100% !important;
  min-width: 100% !important;
  font-size: large;
  padding-top: 4%;
  padding-bottom: 4%;
}

.section-yellow {
  background: var(--yellow);
  color: var(--black);
}

.section-white {
  background: var(--white);
  color: var(--black);
}

.section-black {
  background: var(--black);
  color: var(--white);
}


/* ------------------------------------------------------
   HERO
------------------------------------------------------ */

.title {
  font-size: clamp(14px, 2vw, 4rem);
  font-weight: 400;
  letter-spacing: 20px;
}

.title-yellow {
  font-size: clamp(16px, 5vw, 6rem);
  color: var(--yellow);
  display: block;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 8rem;
}

.state-graphic {
  display: block;
  margin: 20px auto 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Text Fade */
.fade-text-1 { opacity: 0; }
.fade-text-3 { opacity: 0; }

@keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}


/* ------------------------------------------------------
   NAVBAR
------------------------------------------------------ */
nav {
  top: 0;
  min-height: 60px;
  display: flex;
  background-color: var(--black) !important;
  align-items: center;
  font-family: "Rubik", sans-serif;
  position: sticky;
}

.nav-title {
  display: inline-block;
  font-size: clamp(1.3rem, 2vw, 1.3rem);
  margin-right: auto;
  padding: 0 0 0 20px;
}

.nav-title a {
  color: white;
  text-decoration: none;
  -moz-transition: font-size 0.25s, color 0.25s;
  -o-transition: font-size 0.25s, color 0.25s;
  -webkit-transition: font-size 0.25s, color 0.25s;
  transition: font-size 0.25s, color 0.25s;
}

.nav-title a:hover {
  font-size: clamp(1.5rem, 2vw, 1.5rem);
}

.nav-title-dark-bg a:hover {
  font-size: clamp(1.5rem, 2vw, 1.5rem);
  color: white;
}

.nav-link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row !important;
}

.nav-link-list * {
  display: inline;
  text-align: center;
  font-size: clamp(1.1rem, 2vw, 1.1rem);
}

.c-nav-link a {
  color: white;
  text-align: center;
  padding: 2px 10px;
  margin: 0 12px 0 10px;
  text-decoration: none;
  border-left: 1px solid white;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.nav-link-dark-bg a {
  color: white;
  border-left: 1px solid white;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.c-nav-link a:hover {
  border-left: 1px solid #c2c2c2;
  color: #c2c2c2;
}

.nav-link-dark-bg a:hover {
  border-left: 1px solid #c2c2c2;
  color: #c2c2c2;
}





/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 6rem;
  z-index: 10;
}

.carousel-caption h1 {
  color: var(--black);
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}


/* ------------------------------------------------------
   WHO WE ARE
------------------------------------------------------ */

#nctia {
  margin: 5% 0 7% 0;
}

#who-outer {
  height: 80vh;
  background-image: url("../images/school_entrance_bwr.jpg");
  background-size: 100vw;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

#who-inner {
  position: relative;
  right: -50%;
  opacity: .7;
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

#who-inner p {
  font-weight: 600;
}

.op-1 {
  opacity: 1;
}

#we-are-list {
  list-style-type: none;
  padding: 0px;
  color: var(--yellow);
}

.fade-in-1 { opacity: 0;}
.fade-in-2 { opacity: 0;}
.fade-in-3 { opacity: 0;}
.fade-in-4 { opacity: 0;}
.fade-in-5 { opacity: 0;}

#detailsComingSoon img{
		width: 30%;
    margin: 140px auto 40px auto;
}

#actionButtons {
  margin: 30px 0 120px 0;
}

#actionButtons a{
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 15px;
  font-weight: 600;
  margin: 25px;
  width: 335px;
}


/* ------------------------------------------------------
   WHAT'S HAPPENING
------------------------------------------------------ */

.issue {
  text-align: left;
  margin-top: 5%;
  padding: 2% 5% 2% 5%;
}

.issue .icon {
  font-size: clamp(1.5rem, 2vw, 1.5rem);
}

.issue h3 {
  font-size: clamp(1.2rem, 2vw, 1.2rem);
  font-weight: 750;
  display: block;
  margin-bottom: 10px;
}

.happening-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media (max-width: 800px) {
  .happening-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* ------------------------------------------------------
   WHAT YOU CAN DO
------------------------------------------------------ */

#getInvolved {
  height: 200%;
}

.action {
  background: #fff;
}

.action-items {
  max-width: 900px;
  margin: auto;
  display: grid;
  gap: 2.5rem;
  text-align: left;
}

.action-item h3 {
  display: inline;
  font-size: clamp(1.2rem, 2vw, 1.2rem);
  font-weight: 750;
  margin-bottom: 0.5rem;
}

.action-item p {
  display: inline;
}

.involved-grid {
  max-width: 1000px;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.involved-card {
  border-top: 2px solid #000;
  padding-top: 1.5rem;
  height: 200px;
  width: 240px;
}

.involved-card h3 {
  font-size: clamp(1.2rem, 2vw, 1.2rem);
  font-weight: 750;
  margin-bottom: 0.8rem;
}

/* ------------------------------------------------------
   ORGANIZATIONS
------------------------------------------------------ */
#allies {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  text-align: center;
}

#allies-description {
  padding: 0 15% 0 15%;
}

#allies-description span{
  color: var(--yellow);
}

.org-grid {
  margin: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px 575px;
  gap: 2rem;
}

.org-tile {
  align-items: center;
  padding: 50px 10px 50px 10px;
  background-color: var(--white);
  color: var(--black);
}

.org-tile h3 {
  text-align: center;
}

.org-tile img {
  margin: 30px 0 30px 0;
  width: 350px;
  height: 150px;
  transition-duration: 0.3s;
}

/*
  border: 1px solid #162129;
  border-radius: 10%;
  box-shadow: -8px 4px 20px 0 rgba(0, 0, 0, 0.3);
*/

.org-tile-description {
  padding: 20px;
  text-align: left;
  display: block;
  margin: 0;
  height: 170px
}


/* ------------------------------------------------------
   FOOTER
------------------------------------------------------ */
footer {
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 0 5% 0;
}

footer h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  border-bottom: solid white;
  border-top: solid white;
  padding: 10px 0 10px 0;
  width: 150px;
  font-size: clamp(1.5rem, 2vw, 1.5rem);
}

#contact-div {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

#contact-div-left {
  width: 350px;
  margin-left:15%;
}

  #contact-logo {
    width: 67%;
  }

#contact-div-middle {
  border-left: solid white;
  width: 0px;
  height: 70px;
}

#contact-social-icons {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10px 0 10px 0;
  width: 350px;
}

#contact-social-icons * {
  -webkit-transition: fill 0.3s linear;
  -moz-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

#contact-social-icons *:hover {
  fill: var(--white);
}

#contact-div-right {
  max-width: 375px;
  margin-right:15%;
}

#contact-div-right-list {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 15px 20px;
}

#contact-div-right-list * {
  padding: 10px 0 10px 0;
}

.div-right-link {
  color: #c2c2c2;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.div-right-link:hover {
  color: var(--yellow);
}

footer small {
  display: block;
  margin: 40px 0 20px 0;
}

@media (max-width: 765px) {
  #contact-div-right {
    border-left: none;
    display: flex;
    text-align: center;
    font-size: clamp(.85rem, 2vw, .85rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 375px;
  }

  #contact-social-icons {
    margin: 0px;
  }

  #contact-social-icons * {
    margin: 0px 5px 0px 5px;
  }
}

/* ------------------------------------------------------
   RESPONSIVE TUNING
------------------------------------------------------ */

@media (max-width: 1320px) {
  .org-grid {
    grid-template-rows: 825px 625px;
  }

  #who-inner {
    height: 80vh;
    width: 60%;
  }
}

@media (max-width: 1115px) {
  .org-grid {
    grid-template-rows: 1050px 700px;
  }

  #who-inner {
    width: 100%;
    right: 0px;
  }
  
	.state-graphic {
		width: 40%;
	}
}

@media (max-width: 860px) {
  h2 {
    font-size: 4rem;
  }

  .title {
    font-size: clamp(2.2rem, 2vw, 2.2rem);
  }

  .involved-grid {
    flex-direction: column;
    align-items: center;
  }

  .org-tile {
    flex-direction: column;
    padding: 20px 0px 20px 0px;
  }

  .org-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 725px 575px 575px 575px;
  }

  .org-tile-img {
    max-width: 275px;
    max-height: 225px;
    margin: auto;
    position: relative;
  }

  #contact-div {
    flex-direction: column;
  }

  #contact-div-left {
    margin: 0px 0px 25px 0px;
  }

  #contact-div-middle {
    display: none;
  }

  #contact-div-right {
    margin: 0;
  }

  @media (max-width: 650px) {
    .carousel-item {
        height: 90vh;
    }

    #who-outer{
      background-size: 100vh;
    }

    .state-graphic {
      width: 50%;
    }
  }

  @media (max-width: 575px) {
    #detailsComingSoon img{
        width: 70%;
        margin: 140px auto 40px auto;
    }

    #actionButtons {
        font-size: smaller;
    }

    #actionButtons a{
      padding: 10px;
      margin: 25px 0 25px 0;
      width: 290px;
    }

    h2 {
      font-size: 3rem;
    }

    .org-grid {
      grid-template-rows: 1000px 625px 600px 625px;
      padding: .5rem;
      gap: .5rem;
      
    }
  }

  @media (max-width: 475px) {
    #navbar {
      display: flex;
      flex-direction: column;
    }

    .nav-title {
        display: block;
        margin: auto;
        padding: 0;
    }
	
	.state-graphic {
		width: 60%;
	}
  }
}